html {
  background-image: url("/img/bg.png");
}
body {
  padding: 0 2%;
}
html, body {
  /*min-height: 100%;*/
  height: 100%;
}
body, body * {
  box-sizing: border-box;
}
a {
  color: #02bcc9;
}
.main-color {
  color: #f16034;
}
.second-color {
  color: #02bcc9;
}
.black {
  color: black;
}
.main-color-border {
  border-color: #f16034;
}

.nautilus-font {
  font-family: nautilus_pompiliusregular;
  font-weight: 100;
}

.ristretto-font {
  font-family: ristretto_pro_rgregular;
  font-weight: 100;
}

.main {
  background-color: white;
  margin: 0 auto;
  min-width: 737px;
  box-shadow: 0 0 83px 0 rgba(33, 28, 30, 0.71);
  max-width: 1600px;
  min-height: 100%;
  padding-bottom: 140px;
  position: relative;
  /*height: 100%;*/
}

header {
  height: 165px;
  padding-left: 35px;
  padding-top: 26px;
  padding-right: 35px;
}
nav {
  float: right;
}
nav ul {
  margin-left: 30px;
}
nav li {
  float: left;
  font-size: 0.825em;
  font-weight: 800;
  margin-top: 15px;
  text-align: center;
  font-family: Trebuchet MS;
  font-weight: bold;
  margin-left: 20px;
}
#food-menu {
  height: 90px;
  padding-top: 37px;
  background-image: url("/img/wavesdown.png"), url("/img/wavesup.png"), url("/img/fishbg.png");
  background-position: center bottom, center top, center center;
  background-repeat: repeat-x, repeat-x, repeat;
  text-align: center;
  position: relative;
}
#food-menu > ul {
  display: inline-block;
  margin: 0 auto;
}
#food-menu > ul > li {
  color: white;
  float: left;
  font-size: 1em;
  list-style: none outside none;
  margin: 0 15px;
}
.logo {
  float: left;
}
.phone {
  float: right;
  line-height: 19px;
  margin-top: 1em;
  text-align: right;
}
.phone-number {
  font-size: 2.3em;
}
.tel-code {
  font-size: 0.6em;
}
.work-time {
  font-size: 0.75em;
  font-weight: bold;
}

#wavegreen{
  width: 100%;
  height: 13px;
  background: url('/img/wavegreen.png') repeat-x scroll 0% 0% #F0F8FF;
}

.slider {
  height: 400px;
  margin-top: 65px;
  background-image: url("/img/wavesdown.png"), url("/img/wavesup.png"), url("/img/slide.jpg");
  background-position: center bottom, center top, center center;
  background-repeat: repeat-x, repeat-x, repeat;
}
h1 {
  text-align: center;
}
.action {
  float: left;
  font-size: 0.75em;
  text-align: center;
  width: 31.91056910569106%;
  margin-left: 2.134146341463415%;
  height: 300px;
}

.pages .action {
  width: 18%;
}

.action > h2 {
  font-size: 2.6875em;
  font-weight: 100;
  margin: 1px 0;
}
.action > p {
  line-height: 19px;
}
.mi-slider .action {
  width: 100%;
  margin-left: 0;
}
.mi-slider .action > h2 {
  font-size: 1.688em;
}
.mi-slider .action > p {
  font-family: PT Sans, Verdana, Sans;
  font-size: 0.7em;
}
.mi-slider .super-menu-list {
  height: 290px;
}
#dropdown-menu {
  list-style: none;
  width: 100%;
  overflow: hidden;
  padding: 0 0 20px 2px;
  margin: 0;
  min-height: 220px;
}
#dropdown-menu li {
  float: left;
  width: 220px;
  padding: 0 25px 0 26px;
  position: relative;
}
#dropdown-menu li img {
  max-width: 120px;
  height: auto;
}
.action-image {
  background-position: center bottom;
  background-size: auto 100%;
  border-radius: 80px;
  border-style: solid;
  border-width: 4px;
  display: inline-block;
  height: 131px;
  overflow: hidden;
  width: 131px;
}
.welcome {
  background-color: #1dde9d;
  background-image: url("/img/wavesdown.png"), url("/img/wavesup.png");
  background-position: center bottom, center top;
  background-repeat: repeat-x, repeat-x;
  font-size: 0.875em;
  margin: 31px 0 45px;
  padding: 40px 22%;
  text-align: center;
}
.welcome-text {
  color: #0c704e;
  font-family: nautilus_pompiliusregular;
  font-size: 1.9375em;
}
.elements-set {
  padding: 0 1.953125%;
}

.index .action:first-child {
  margin-left: 0px;
}

.line-menu {
  font-size: 2.0155em;
  padding-left: 60px;
  text-transform: uppercase;
}

footer {
  /*margin-top: 46px;*/
  background-color: #252525;
  background-image: url("/img/wavesup.png");
  background-position: center top;
  background-repeat: repeat-x;
  padding-bottom: 16px;
  text-align: center;
  font-size: 0.75em;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer h2 {
  font-size: 1.3125em;
  font-size: 1.75em;
}
.footer-set {
  /*margin-bottom: 2em;*/
}
.footer-set > div {
  color: white;
  float: left;
  width: 50%;
}
.onecoffee-logo {
  vertical-align: baseline;
}
.last-action {
  display: none;
}
.clear {
  clear: both;
}
.copyright {
  padding: 10px 0 0;
}
.super-menu {
  background: linear-gradient(transparent 22%, white 22%) repeat scroll 0 0 transparent;
  color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 242px;
}
.super-menu li {
  color: black;
}
.megamenu_form {
  width: 170px;
  float: left;
}
.action-container {
  height: 150px;
  width: 100%;
}
#widemenu {
  width: 1100px;
  max-width: 90%;
}
.super-menu-list {
  height: 160px;
  margin-left: 0;
  font-size: 1.6em;
}
.super-menu-list > li {
  display: block;
  height: 100%;
  list-style: none outside none;
  width: 127px;
  margin: 25px;
}
.mi-slider.super-menu {
  height: 360px;
}
.navclass a {
  color: white;
}
.dropdown-container {
  position: relative;
  margin-top: 50px;
  background: none repeat scroll 0 0 white;
  height: 290px;
  overflow: hidden;
  display: none;
  padding: 0 20px;
}
.dropdown-container:before {
  content: ' ';
  position: absolute;
  right: 20px;
  width: 50px;
  z-index: 100;
  height: 200px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */

}
@media screen and (min-width: 1340px) {
  .last-action {
    display: block;
  }
  .action {
    width: 23.71695178849145%;
    margin-left: 1.710730948678072%;
  }
}
@media screen and (min-width: 1000px) {
  #food-menu > ul > li {
    font-size: 1.1875em;
    margin: 0 30px;
  }
}
@media screen and (min-width: 908px) {
  nav {
    float: left;
  }
  nav li {
    margin-top: 47px;
  }
  .phone {
    margin-top: 2em;
  }
}

.order {
  background: none repeat scroll 0 0 white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 10px #6f6f6f;
  left: 0;
  padding: 14px 18px 18px;
  position: absolute;
  top: 30%;
  width: 250px;
}

.order-head {
  margin: 0;
  text-transform: uppercase;
}

.order-wave {
  background: url("/img/wavegrey.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 3px;
  width: 100%;
}

.order-item {
  border-bottom: 1px solid #e4e4e4;
  color: black;
  font-size: 0.75em;
  padding: 13px 0 16px;
}

.order-item-head {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.weight {
  color: #6f6f6f;
}

.total{
  font-weight: bold;
  margin-top: 10px;
}

#pickup {
  background: none repeat scroll 0 0 #02bcc9;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-size: 0.79em;
  margin-top: 10px;
  padding: 3px 10px;
  text-decoration: none;
}

.label {
  background: none repeat scroll 0 0 #02bcc9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 5px #6f6f6f;
  color: white;
  padding: 3px 13px 13px;
  position: absolute;
  right: -58px;
  top: 31px;
  transform: rotate(90deg);
}